node_modules
vendor

cypress/videos
cypress/screenshots

cypress.config.js
.wp-env.override.json

.phpunit.result.cache
.vscode/launch.json
.vscode/settings.json
.idea/

opencode.json
composer.phar
.DS_Store