{
  "baseUrl": "http://localhost:8889/",
  "env": {
    "wp_user": "admin",
    "wp_pass": "password"
  },
  "responseTimeout": 30000,
  "defaultCommandTimeout": 30000,
  "retries": {
    "runMode": 3,
    "openMode": 0
  }
}
