<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    convertErrorsToExceptions="false"
    convertNoticesToExceptions="false"
    convertWarningsToExceptions="false"
    forceCoversAnnotation="false"
    processIsolation="true"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    timeoutForSmallTests="1"
    timeoutForMediumTests="10"
    timeoutForLargeTests="60"
    verbose="true"
    bootstrap="./tests/autoload.php"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage/>
  <testsuites>
    <testsuite name="Cache">
      <file>tests/CacheTest.php</file>
    </testsuite>

    <testsuite name="Hardening">
      <file>tests/HardeningTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>
